/*!
 * Start Bootstrap - Busines Frontpage (https://startbootstrap.com/template-overviews/business-frontpage)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-business-frontpage/blob/master/LICENSE)
 */

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.business-header {
  height: 50vh;
  min-height: 300px;
  background: url('https://images.boatstatic.com/cache/promoDesktop/uploads/zones/722/paros12.jpg') center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.card {
  height: 100%;
}


#Image2 {
     /*filter: grayscale(100%);*/
     position: absolute;
     filter: blur(4px);
}

 #Effet {
   filter: grayscale(100%);
   background: url(”huka.jpg”);
 }

#Image3 {
  position: absolute;
  width:100px;
  height:100px;
}

#Image22 {
     /*filter: grayscale(100%);*/
     position: absolute;
     filter: blur(4px);
}

 #Effet1 {
   filter: grayscale(100%);
   opacity: 0.2;
   background: url(”huka.jpg”);
 }

#Image33 {
  position: absolute;
  width:100px;
  height:100px;
}

#Image222 {
     /*filter: grayscale(100%);*/
     position: absolute;
     filter: blur(4px);
}

 #Effet11 {
   filter: grayscale(100%);
   opacity: 0.2;
   background: url(”huka.jpg”);
 }

#Image333 {
  position: absolute;
  width:100px;
  height:100px;
}

