/*!
 * Start Bootstrap - Round About (https://startbootstrap.com/template-overviews/round-about)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-round-about/blob/master/LICENSE)
 */

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;

  }

ul {
list-style:none;
}

#Souris {
cursor: none;
width: 540px;
height: 540px;
cursor: url('https://icon-icons.com/icons2/308/PNG/512/plane-icon_34103.png') no-repeat left top;
display: none;
}

/*#Image {
 	position: absolute;
 	filter: blur(2px);
 	opacity: .5; 
 	z-index: 1;
 }

#Image2 {
	position : absolute;
	z-index: 2;
	*/
}


