/*!
 * Start Bootstrap - Portfolio Item (https://startbootstrap.com/template-overviews/portfolio-item)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-portfolio-item/blob/master/LICENSE)
 */

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
 


 #Img1Copie {
 	display: none;
 }

  #Img2Copie {
 	display: none;
 }

 #Img3Copie {
 	display: none;
 }

 #Img4Copie {
 	display: none;
 }

 #GrandeImage2 {
 	position: absolute;
 	height: 440px;
 }

